[user]
	name = Blake Weichbrodt
	email = blakeweichbrodt7@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = nvim
[submodule]
	recurse = true
[pull]
	ff = only
  rebase = true
